html {
  --theme-hue: 0; /* white */
  --accent-hue: 194; /* blue */

  --text-color-softer: white;
}

body {
  background: black;
  color: white;
}
.page {
  position: relative;
  text-shadow: 0 0 4px currentColor;
}
.page::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  background-attachment: fixed;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.page::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.3s infinite;
}
@media (prefers-reduced-motion) {
  .page::after {
    animation: none;
  }
}
section {
  background: radial-gradient(
    -180px 0px,
    circle,
    #0053ad 300px,
    #001b85 500px,
    #000223
  );
  background: -moz-radial-gradient(
    -180px 0px,
    circle,
    #0053ad 300px,
    #001b85 500px,
    #000223
  );
  background: -webkit-radial-gradient(
    -180px 0px,
    circle,
    #0053ad 300px,
    #001b85 500px,
    #000223
  );
  background: -o-radial-gradient(
    -180px 0px,
    circle,
    #0053ad 300px,
    #001b85 500px,
    #000223
  );
  padding: 1rem;
  border: 5px solid white;
  border-radius: 8px;
  margin-block-end: 1rem;
}

hr {
  display: none;
}

li {
  list-style-position: outside;
}
.section-list {
  list-style: none;
}

.job-title {
  font-weight: bold;
  margin-bottom: 0.1em;
  position: relative;
}
.job-title + p {
  margin-bottom: 0.2em;
}

.resume ul {
  color: white;
  list-style: none;
}
.job-item {
  color: white;
}
.employer svg {
  transform: translateY(0.5rem);
}

.top-list,
.sidebar ul {
  margin-inline-start: 1em;
}

.sidebar h4 {
  display: flex;
  align-items: center;
}

.sidebar h4::before {
  content: url("../images/FFVIIICursor01.png");
  padding-block-end: 0.5em;
  width: 28px;
  height: 24px;
  object-fit: cover;
  padding: 0 1rem 0 0;
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

  thead {
    display: table-header-group;
  }

  tr,
  img,
  .sidebar section,
  .section-list > li {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .no-print {
    display: none;
  }
}
