/* BAREBONES OVERRIDES */

.grid-container {
  text-align: left;
}
.grid-container .one.column {
  grid-column: span 1;
}
.grid-container .two.columns {
  grid-column: span 2;
}
.grid-container .three.columns {
  grid-column: span 3;
}
.grid-container .four.columns {
  grid-column: span 4;
}

/* THEMING */

html {
  --theme-hue: 184;
  --accent-hue: 34;
}

/* CUSTOM STYLES */

.resume {
  padding-top: 1em;
}

.subhead {
  position: relative;
}
.subhead::before {
  position: absolute;
  content: "";
  background-color: var(--background-color-softer);
  width: calc(97% - 20px);
  top: 18px;
  right: 0;
  bottom: 0;
  left: 12px;
  z-index: -1;
  transform: skew(-26deg);
}
h4 {
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: white;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 0.1em 0.5em;
}
li {
  list-style-position: outside;
}
.section-list {
  list-style: none;
}
.job-title {
  font-weight: bold;
  margin-bottom: 0.1em;
  position: relative;
}
.job-title + p {
  margin-bottom: 0.2em;
}
.dates {
  font-style: italic;
  color: var(--text-color-softer);
}
.job-title::before {
  position: absolute;
  content: "";
  background-color: var(--background-color-softer);
  width: calc(97% - 20px);
  top: 18px;
  right: 0;
  bottom: 0;
  left: 12px;
  z-index: -1;
  transform: skew(-26deg);
}
.employer {
  font-weight: bold;
}
.employer::after {
  content: "\00A0\2192\00A0";
}
.employer svg {
  transform: translateY(0.5rem);
}
.styled-link {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--accent-color);
  color: var(--accent-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.styled-link:hover {
  box-shadow: inset 200px 0 0 0 var(--accent-color);
  color: white;
}
.top-list {
  padding-left: 2em;
}
.sidebar {
  background-color: var(--background-color-softer);
  padding: 1em;
}
.sidebar ul {
  margin-inline-start: 2rem;
}

.supplemental {
  font-size: 0.8em;
  margin-top: 0;
}

.copyright {
  color: var(--text-color-softer);
}

/* UTILITIES */
.u-mbe-0 {
  margin-block-end: 0;
}
.u-mbe-1 {
  margin-block-end: 0.25em;
}
.u-mbe-2 {
  margin-block-end: 1em;
}
